* {
    padding: 0;
    margin: 0;
    font-family: degular-variable, sans-serif;
    color: white;
}

/*INICIO PRIMEIRA SEÇÃO*/

.imagem-fundo {
    background-image: url(./img/fundo-header.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    height: 600px;
    padding-top: 70px;
    padding-bottom: 100px;
}

.cor-fundo {
    width: 100%;
    height: 5000px;
    background-color: #0f002c;
    position: absolute;
    display: block;
    z-index: -1;
}

.menu {
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform: uppercase;
    font-size: 21px;
    padding-left: 400px;
}

.icon-menu {
    display: inline-block;
    padding-right: 90px;
    transition: transform 0.9s ease;
}

.icon-menu:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.button-menu {
    font-size: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #4b4192;
    width: 160px;
    height: 50px;
    border-radius: 30px;
    border: none;
    transition: transform 0.9s ease;
    transition: background-color 0.9s ease;
}

.button-menu:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #63b34a;
}


.logo {
    margin: 180px 495px;
    width: 700px;
    height: auto;
}

h1 {
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform: uppercase;
    margin-left: 390px;
    color: rgb(135, 133, 133);
    opacity: 0.5;
}

/*INICIO SEGUNDA SEÇÃO*/

/*Icones da seção "SOBRE NÓS"*/
.icon-sobre-nos {
    display: flex;
    justify-content: center;
    gap: 152px;
    margin-top: 90px;
}

.icon-sobre-nos figure img {
    width: 110px;
    margin-bottom: 8px;
}

figure {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
}

/*Imagens na lateral dos icones*/
.imagem-lateral-esquerda-icon {
    width: 360px;
    height: auto;
}

.imagem-lateral-direita-icon {
    width: 365px;
    height: auto;
}

/*Imagem da equipe*/
.imagem-e-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.imagem-equipe {
    display: inline-block;
    width: 500px;
    height: auto;
    margin-top: 50px;
}

.titulo-sobre-nos {
    margin: 0 0 10px 25px;
    text-align: center;
    justify-items: center;
    font-size: 30px;
}

.sobre-nos {
    display: inline-block;
    width: 440px;
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 33px;

}

.fundo-texto {
    box-sizing: content-box;
    width: 440px;
    height: 340px;
    background-color: #201b45;
    padding: 20px;
    border-radius: 30px;
    text-align: justify;
}

/*INICIO TERCEIRA SEÇÃO*/
.imagem-fundo-produtos {
    margin: 50px 160px;
}

/*INICIO SEÇÃO DOS PARCEIROS*/
.parceiros {
    text-align: center;
    background-color: #0f002c;
    /* fundo roxo escuro */
    padding: 40px 0px;
    color: #0f002c;
}

.parceiros h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.grid-logos {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    gap: 6px;
    justify-content: center;
}

.logo-box {
    width: 100px;
    height: 100px;
    background-color: #0f002c;
    border: 2px solid #4b4192;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo-box img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    display: block;
}

.logo-box:hover {
    transform: scale(1.05);
}

.parceiros-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0;
}

.imagem-sistema-lateral {
  width: 200px;
  height: auto;
  flex-shrink: 0;
}