* {
    padding: 0;
    margin: 0;
    font-family: degular-variable, sans-seri;
    font-weight: 400;
    color: white;
}

.imagem-fundo {
    background-image: url(./img/fundo-header.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    height: 700px;
    padding-top: 70px;

}

.cor-fundo {
    width: 100%;
    height: 1000px;
    background-color: #0f002c;
    position: absolute;
    display: block;
    z-index: -1;
}

.menu {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 360px;
}

.icon-menu {
    padding-right: 70px;
}


.logo {
    width: 200px;
    height: auto;
}